.modal {
  margin: auto;
  position: fixed;
  background-color: white;
  width: 50rem;
  height: 20rem;
  padding: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  display: none;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
